.heading2 {
    
    
    h2 {
        font-size: var(--fs-800);
        font-weight: 800;   

    }
    
}

.line {
    margin-top: var(--spacing-lg);
    background-color: var(--background-color);
    border-bottom: var(--border-xs);
    
}