@use '../../../../styles/utils/mixins' as mixin;

.mediumContainer {
    // padding: var(--spacing-lg) var(--spacing-sm);
    border: var(--border-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    @include mixin.sectionPadding;

    @include mixin.respond(tab) {
        align-items: flex-start;
    }

    @include mixin.respond(smallDesktop) {
        padding: var(--spacing-4xl) var(--spacing-sm);
    }
}