@use '../../../../styles/utils/mixins' as mixin;

.mediumContainer {
    border: var(--border-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    @include mixin.sectionPadding;

    @include mixin.respond(tab) {
        align-items: flex-start;
    }

   
}