@use '../../../../styles/utils/mixins' as mixin;

.navLink {
  font-size: 1.5rem;

  @include mixin.respond(largeDesktop) {
    font-size: 2rem;
  }

  a {
    color: var(--primary-color);

    &:hover,
    &:focus {
      color: var(--highlight-color);
    }

    &:active {
      color: var(--active-color);
    }

    &:visited {
      color: var(--visited-color);
    }
  }
}
