@use '../../../../styles/utils/mixins' as mixin;

.navMenu {
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: 7.5rem;
  left: -100%;
  border: var(--border-xs);
  z-index: 999;
  overflow: hidden;

  @include mixin.respond(tab) {
    top: 8.5rem;
  }

  ul {
    opacity: 0;
    height: calc(100dvh - 7.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-3xl);

    @include mixin.respond(tab) {
      height: calc(100dvh - 8.5rem);
    }

    a {
     
        opacity: 0;
      
    }
  }
}

.open {
  left: 0;
  ul {
    opacity: 1;
    a {
        opacity: 1;
     
    }
  }
}
