@use '../../../styles/utils/mixins' as mixin;

.banner {
  width: 100vw;
  display: grid;
  place-content: center;
  border: var(--border-xs);
  @include mixin.paddingSpacing();

  span {
    font-size: 2.5rem;
    font-family: var(--font-heading);
    font-weight: 900;
  }
}
