:root {
    --box-shadow-sm: 1px 1px 0 var(--text-color);
    --box-shadow-md: 2px 2px 0 var(--text-color);
    --box-shadow-lg: 3px 3px 0 var(--text-color);
    --box-shadow-xl: 4px 4px 0 var(--text-color);
}