:root {
  --background-color: #d8d9e0;
  --text-color: #131318;
  --primary-color: #2c1b93;
  --highlight-color: #1c1cd0;
  --active-color: #580e5a;
  --visited-color: #3c1987;
}

[data-theme='dark'] {
  --background-color: #02040c;
  --text-color: #e5e6eb;
  --primary-color: #68e8ad;
  --highlight-color: #92f2da;
  --active-color: #bb88cd;
  --visited-color: #bce7d7;
}
