:root {

  --background-color: #EDFBFD;
  --text-color: #090D3E;
  --primary-color: #3340C7;
  --highlight-color: #AA0E35;
  --active-color: #165C74;
  --visited-color: #363F9B;
}

[data-theme='dark'] {

  --background-color: #0a0e2e;
  --text-color: #d5d7ec;
  --primary-color: #5dbeee;
  --highlight-color: #ec8f89;
  --active-color: #d3ea62;
  --visited-color: #89c4e1;
}
