@use './transitions' as mixin;
@use './breakpoints' as bp;

@mixin linkStyles {
  position: relative;
  cursor: pointer;
  fill: var(--primary-color);
  opacity: 0;
  @include mixin.transitionMain;

  &:hover, &:focus {
    fill: var(--highlight-color);
    opacity: 1;
  }


  a {
    color: var(--primary-color);
    @include mixin.transitionMain;

    &:visited {
      color: var(--visited-color);
    }

    &:hover,
    &:focus {
      font-weight: 600;
      color: var(--highlight-color);

      &::before {
        opacity: 1;
        bottom: -1rem;
        @include bp.respond(smallDesktop) {
          bottom: -0.5rem;
        }
      }
    }

    &:visited:hover,
    &:visited:focus {
      color: var(
        --highlight-color
      ); // Reapply hover/focus styles for visited links
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background-color: currentColor;
      opacity: 0;
      @include mixin.transitionMain;

      @include bp.respond(smallDesktop) {
        bottom: -1rem;
        width: 95%;
      }
    }

    &:active {
      color: var(--active-color);
    }
  }
}
