

.navbar {
  width: 100vw;
  height: 2.5rem;
  border: var(--border-xs);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  overflow: hidden;
  
  
}

.stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.5rem;
  border: var(--border-xs);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  // overflow: hidden;
  // z-index: 999;
}