@use '../../../styles/utils/mixins' as mixin;

.themeToggle {
  height: 100%;
  width: 100%;
  padding-inline: var(--padding-xs);
  border-right: var(--border-xs);
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;

  .lightToggle {
      border-right: 1px solid;
      @include mixin.toggleStyle;
  }

  .darkToggle {
      font-weight: 500;
      border-left: 1px solid;
      border-color: var(--text-color);
      @include mixin.toggleStyle;
  }

  .active {
    border-color: var(--highlight-color);
    color: var(--active-color);
    font-weight: 700;

    @include mixin.respond(smallDesktop) {
      box-shadow: var(--box-shadow-sm);
    }
  }
}

