.hamburgerToggle {
  position: relative;
  width: 2.5em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background-color: var(--background-color);
  cursor: pointer;

  & span {
    position: absolute;
    height: 0.15rem;
    width: 100%;
    display: block;
    background-color: var(--text-color);
  }
}

