@use '../../../../styles/utils/mixins' as mixin;

.titleContainer {
  width: 100%;
  padding: var(--spacing-lg) var(--spacing-sm);
  border: var(--border-xs);

  @include mixin.respond(smallDesktop) {
    padding: var(--spacing-lg) var(--spacing-md);
  }
}
