@use '../../../../../../styles/utils/mixins' as mixin;

.imageContainer {
  max-width: 100%;
  padding: var(--spacing-sm) 0;
  display: grid;
  place-content: center;
  border-top: var(--border-xs);
  border-bottom: var(--border-xs);

  @include mixin.respond(largeDesktop) {
    padding: var(--spacing-lg) 0;
  }

  .image {
    height: 10rem;
    width: 7rem;

    @include mixin.respond(largeDesktop) {
      height: 15rem;
      width: 11rem;
    }
  }
}
