@use '../../../styles/utils/mixins' as mixin;

.introSectionContainer {
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  border: var(--border-xs);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
